.bottom{
    margin-bottom: 194px;
    
}

.bottom__intoducing {
    display: flex;

}

.intoducing {
    font-size: 60px;
    max-width: 360px;
    margin-right: 116px;
    line-height: 58.32px;
}

.bottom__qualification {
    max-width: 1120px;
}

.qualification {
    margin-top: 80px;
    width: 580px;
    font-size: 32px;
    color: grey;
    line-height: 37.44px;
}

.bottom__arrow {
    margin-top: 118px;
    margin-bottom: 113px;
}

.bottom__list {
    display: flex;
    margin-bottom: 114px;
   
}

.bottom__list__left {
    width: 660px;
    display: flex;
    flex-direction: column;

}

.bottom__list__right {
    width: 640px;
}

.bottom__item {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 100%;
    padding-bottom: 106px;
    border-bottom: 1.5px solid black;
    border-width: 2px;
}

.block {
    max-width:
        356px;
    line-height: 21.87px;
}

.item__project__name {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
}

.item__description {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px;
}




.item__link {
    margin-top: auto;
    font-size: 18px;
    font-weight: 500;
}



.bottom__img {
    display: flex;
    justify-content: space-between;
}

.border {
    width: 100%;
    margin-bottom: 114px;
}