.footer {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-top: 112px;
    margin-bottom: 70px;
    width: 100%;
}


.author {
    margin-right: 0;
    font-size: 21px;
    color: #2429af;
}

.footer__nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer__links {
    display: flex;
    gap: 30px;
    margin-left: auto;
    
}

.footer__item {
    font-size: 21px;
    font-weight: 500;

}